.container {
  display: grid;
  grid-template-areas: 
    'search-bar search-bar search-bar search-bar'
    'video-player video-player video-player video-list';
}

.search-bar {
  grid-area: search-bar;
}

.video-player {
  grid-area: video-player;
  /* width: 70vh; */
  padding: 15px;
}

.video-list {
  grid-area: video-list;
  /* width: 30vh; */
  max-width: 200px;
  padding: 15px;
}